* {
    box-sizing: border-box;
}

body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    overflow-x: hidden;
}

header {
    background: #000;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header .links {
    display: flex;
    flex-direction: row;
}

header .links li {
    list-style: none;
    margin: 6px;
}

header .links li a {
    font-size: 1.2rem;
    font-family: 'Roboto' sans-serif;
    color: #fff;
    text-decoration: none;
    transition: .2s ease;
}

header .links li a:hover {
    color: #9f92ab;
}

header .logo {
    color: #fff;
    font-family: 'Roboto' sans-serif;
    font-size: 2rem;
}

header .menu {
    display: none;
}

.slider {
    background-color: #393E46;
    width: 100%;
    height: 600px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    position: relative;
    display: flex;

}

.slider .image {
    width: 100%;
    z-index: 9;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s ease;
}

.slider .buttons {
    position: absolute;
    margin-top: 500px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    width: 180px;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.slider .buttons button {
    width: 60px;
    height: 40px;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: bold;
    background-color: #F2F2F2;
    color: #000;
    cursor: pointer;
    box-shadow: none;
    border: none;
    text-align: center;
    opacity: 40%;
    transition: .3s ease;
}

.slider .buttons button:hover {
    opacity: 80%;
}

.slider .titles {
    z-index: 15;
    position: absolute;
    width: 60vh;
    height: 160px;
    margin-top: 40px;
    margin-left: 20px;
}

.slider .titles .title {
    font-size: 4.4rem;
    color: #b7b2bc;
    letter-spacing: 10px;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 2px 7px 4px #000;
    transition: all .8s ease;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateX(-20px);
}

.slider .titles .title.visible {
    opacity: 1;
    transform: translateX(0);
}

.slider .titles .comment {
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    color: gainsboro;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    transition: all .8s ease;
    opacity: 0;
    transform: translateX(+20px);
}

.slider .titles .comment.visible {
    opacity: 1;
    transform: translateX(0);
}

.homeCards {
    width: 100%;
    height: 300px;
    background-color: #fff;
    padding-top: 0;
    position: relative;
    display: flex;
    flex-direction: row;
}

.homeCards .leftCard {
    display: flex;
    align-items: center;
    width: 27%;
}

.homeCards .leftCard p {
    font-family: "Playwrite DK Loopet", cursive;
    padding: 6px;
    color: #574964;
    font-weight: 500;
    width: 100%;
    margin-left: 10px;
    font-size: 1.2rem;
}

.homeCards .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6px;
    width: 73%;
    padding-right: 30px;
}

.homeCards h3 {
    margin-top: 6px;
    text-align: center;
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
}

.homeCards .cards .card {
    width: 180px;
    height: 260px;
    border-radius: 6px;
    transition: .2s ease;
    margin-left: 60px;
    display: flex;
    flex-direction: row;
}

.homeCards .cards .card img {
    width: 170px;
    height: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.homeCards .cards .card .cardText h5 {
    margin-top: 0;
    text-align: center;
    font-size: 2.1rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 0px;
    align-items: center;
    text-shadow: 4px 4px 4px 9px #000;
}

.homeCards .cards .card .cardText p {
    margin-top: 0;
    padding: 4px;
    text-align: justify;
    font-size: 0.8rem;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    margin-bottom: 2px;

}

.homeCards .cards .card .cardText a {
    margin-top: 0;
    margin-left: 73px;
    font-family: "Roboto Slab", serif;
    color: #2973B2;
    font-weight: bold;
    transition: .3s ease;
}

.homeCards .cards .card .cardText a:hover {
    color: #16404D;
}


.homeCards .cards .card:hover {
    background: linear-gradient(#DFD0B8, #FAD59A, #EFEEEA);
    transform: translateY(-2%);
}

.socialMedia {
    margin-top: 0;
    padding-top: 0;
    top: 0;
    background: url(img/textures.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
    z-index: 8;
}

.socialMedia .icons {
    position: absolute;
    margin-top: 240px;
    margin-left: 20px;
    font-size: 2.2rem;

}

.socialMedia .icons a {
    cursor: pointer;
    text-decoration: none;
    transition: .4s ease;
}



.socialMedia .icons a.twitter {
    color: gray;
}

.socialMedia .icons a.insta {
    color: #DC8BE0;
}

.socialMedia .icons a.gith {
    color: gray;
}

.socialMedia .icons a.linked {
    color: #8DD8FF;
}

.socialMedia .icons a:hover {
    color: #fff;
}




.homeCards2 {
    width: 100%;
    height: 400px;
    background-color: #fff;
    padding-top: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.homeCards2 .leftCard2 {
    display: flex;
    align-items: center;
    width: 27%;
}

.homeCards2 .leftCard2 h5 {
    font-family: "Bebas Neue", sans-serif;
    padding: 6px;
    color: #574964;
    font-weight: 500;
    width: 100%;
    font-size: 4rem;
    margin-left: 10px;
}

.homeCards2 .cards2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6px;
    width: 73%;
    padding-right: 30px;
}

.homeCards2 h3 {
    margin-top: 6px;
    text-align: center;
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
}

.homeCards2 .cards2 .card2 {
    width: 180px;
    height: 300px;
    transition: .2s ease;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    border-left: 3px solid#000;
}

.homeCards2 .cards2 .card2 img {
    width: 170px;
    max-height: 210px;
    border-top-right-radius: 4px;
}

.homeCards2 .cards2 .card2 .cardText2 h5 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.4rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    margin-left: 0px;
    align-items: center;
    text-shadow: 4px 4px 4px 9px #000;
}

.homeCards2 .cards2 .card2 .cardText2 p {
    margin-top: 0;
    padding: 4px;
    text-align: justify;
    font-size: 0.8rem;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    margin-bottom: 2px;
}

.homeCards2 .cards2 .card2 .cardText2 .date {
    text-align: right;
    font-weight: 500;
}

.homeCards2 .cards2 .card2 .cardText2 a {
    margin-top: 0;
    text-align: left;
    font-family: "Roboto Slab", serif;
    color: #2973B2;
    font-weight: bold;
    transition: .3s ease;
}

.homeCards2 .cards2 .card2 .cardText2 a:hover {
    color: #16404D;
}


.name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;

}

.name h5 {
    text-align: center;
    font-family: "Playwrite DK Loopet", cursive;
    font-size: 2rem;
    color: #574964;
}

.subscribe {
    width: 100%;
    height: 200px;
    background-color: #fff;
    padding-top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.subscribe h5 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-left: 0px;
    align-items: center;
    text-shadow: 4px 4px 4px 9px #000;
    color: #574964;
}

.subscribe .subinput {
    display: flex;
    align-items: center;
}

.subscribe input {
    width: 200px;
    height: 30px;
    font-family: "Roboto", sans-serif;
    border: 1px solid #000;
    margin-right: 6px;
}

.subscribe input:active {
    border: 1px solid #2973B2;
}

.subscribe button {
    width: 82px;
    height: 30px;
    font-family: "Roboto", sans-serif;
    background: #fff;
    border: 1px solid gray;
    cursor: pointer;
    transition: .2s ease;
    font-size: 1rem;
    text-align: center;
}

.subscribe button:hover {
    background-color: #2973B2;
    color: #fff;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(#fff, #2973B2, #000);
    margin-bottom: 0;
    padding: 0;
    width: 100%;
    height: 300px;
    font-family: "Roboto Slab", serif;
}

footer .footerLogo {
    font-size: 2rem;
    color: #574964;
}

footer .footerLinks {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
    gap: 20px;
}

footer .footerLinks li {
    color: #fff;
}

footer .footerLinks li a {
    color: #F2F2F2;
}

footer .madeBy {
    color: #F2F2F2;
    text-align: center;
}

footer .madeBy a {
    color: #BBFBFF;
}

footer .madeBy p {
    color: #b7b2bc;
}

@media (max-width: 768px) {

    * {
        overflow-x: hidden !important;

    }

    body {
        overflow-x: hidden !important;
    }


    header .links {
        display: none;
        z-index: 99;
        position: absolute;
        right: -170px;
        top: 60px;
        width: 40%;
        height: 300px;
        background-color: #000;
        transition: .6s ease;
    }

    header .links.open {
        display: block !important;
        z-index: 99;
        position: absolute;
        right: 0;
        top: 60px;
        width: 50%;
        height: 100%;
        background-color: #000;
        transition: .6s ease;
        text-align: center;
    }


    header .links li {
        list-style: none;
        margin: 6px;
        border-bottom: 1px solid gray;
        width: 100%;
    }

    header .links li a {
        font-size: 1.6rem;
        font-family: 'Roboto' sans-serif;
        color: #fff;
        text-decoration: none;
        transition: .2s ease;
    }

    header .links li a:hover {
        color: #DFD0B8;
    }

    header .logo {
        color: #fff;
        font-family: 'Roboto' sans-serif;
        font-size: 2rem;
    }

    header .menu {
        display: flex;
        cursor: pointer;
        width: 40px;
        height: 40px;
        align-items: center;
    }

    header .menu i {
        color: #fff;
        font-size: 2rem;
        overflow: hidden;
    }

    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #ffecdb;
        width: 100%;
        padding: 1rem;
        display: none;
        /* Başlangıçta gizli */
    }

    .nav-links.active {
        display: flex;
    }

    .menu-button {
        display: block;
    }

    .socialMedia .icons {
        position: absolute;
        margin-top: 240px;
        margin-left: 20px;
        width: 200px;
        height: 60px;
    }

    .socialMedia .icons a {
        cursor: pointer;
        text-decoration: none;
        transition: .4s ease;
        font-size: 1.8rem;
    }

    .homeCards {
        width: 100%;
        height: auto;
        background-color: #fff;
        padding-top: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .homeCards .leftCard {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .homeCards .leftCard p {
        font-family: "Playwrite DK Loopet", cursive;
        padding: 6px;
        color: #574964;
        font-weight: 500;
        width: 100%;
        margin-left: 10px;
        text-align: center;
    }

    .homeCards .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 6px;
        width: 100%;
    }

    .homeCards h3 {
        margin-top: 6px;
        text-align: center;
        font-size: 2rem;
        font-family: "Bebas Neue", sans-serif;
    }

    .homeCards .cards .card {
        margin-left: 30px !important;
        width: 90%;
        height: 600px;
        border-radius: 6px;
        transition: .2s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homeCards .cards .card img {
        width: 100%;
        height: 80%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .homeCards .cards .card .cardText h5 {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        font-size: 4rem;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        writing-mode: horizontal-tb;
        margin-left: 0px;
        align-items: center;
        text-shadow: 4px 4px 4px 9px #000;
    }

    .slider .buttons button:hover {
        opacity: 80%;
    }

    .slider .titles {
        color: #000;
        z-index: 15;
        position: absolute;
        width: 100%;
        height: 300px;
        margin-top: 4px;
        margin-left: 2px;
    }

    .slider .titles .title {
        margin-top: 4px;
        font-size: 4.4rem;
        color: #efeeee;
        letter-spacing: 10px;
        font-family: "Bebas Neue", sans-serif;
        text-shadow: 2px 7px 4px #000;
        transition: all .8s ease;
        margin-bottom: 10px;
        opacity: 0;
        transform: translateX(-20px);
    }

    .slider .titles .title.visible {
        opacity: 1;
        transform: translateX(0);
    }

    .slider .titles .comment {
        margin-top: 10px;
        font-family: "Roboto", sans-serif;
        color: gray;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
        font-size: 1.2rem;
        transition: all .8s ease;
        opacity: 0;
        transform: translateX(+20px);
    }

    .slider .titles .comment.visible {
        opacity: 1;
        transform: translateX(0);
    }

    .name {
        height: 80px;
        overflow: hidden;
    }

    .homeCards2 {
        width: 100%;
        height: auto;
        background-color: #fff;
        padding-top: 0;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .homeCards2 .leftCard2 {
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        overflow-y: hidden;
    }

    .homeCards2 .cards2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 6px;
        width: 100%;
    }

    .homeCards2 .cards2 .card2 {
        width: 90%;
        height: 480px;
        border: none;
        border-radius: 6px;
        transition: .2s ease;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        margin-left: 30px !important;
    }

    .homeCards2 .cards2 .card2 img {
        width: 100%;
        height: 100% !important;
        object-fit: cover !important;
    }

    .homeCards2 .cards2 .card2 .cardText2 h5 {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        font-size: 2rem;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        writing-mode: horizontal-tb;
        margin-left: 0px;
        align-items: center;
        text-shadow: 4px 4px 4px 9px #000;
    }

    .homeCards2 .cards2 .card2 .cardText2 p {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        font-size: 1.2rem;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
    }

    .homeCards2 .cards2 .card2 .cardText2 a {
        font-size: 1.4rem;

    }

    .subscribe {
        padding: 30px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: linear-gradient(#fff, #2973B2, #000);
        margin-bottom: 0;
        padding: 0;
        width: 100%;
        height: 400px;
        font-family: "Roboto Slab", serif;
    }

    footer .footerLogo {
        font-size: 1.8rem;
        color: #000;
    }

    footer .footerLinks {
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
        justify-content: center;
        gap: 20px;
    }

    footer .footerLinks li {
        color: #fff;
    }

    footer .footerLinks li a {
        color: #F2F2F2;
        font-size: 0.8rem;
    }

    footer .madeBy {
        color: #F2F2F2;
        text-align: center;
    }

    footer .madeBy a {
        color: #BBFBFF
    }

}